<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cos1_gol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <cos1_gol.Properties.Settings>
            <setting name="IntervalTicker" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="XCells" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="YCells" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AliveCellColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="DeadCellColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="By10Color" serializeAs="String">
                <value>Black</value>
            </setting>
        </cos1_gol.Properties.Settings>
    </userSettings>
</configuration>